*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
proguard/
*.log
.navigation/
captures/
*.jks
*.iws
/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties